.wrapper {
  min-height: 300px;
  cursor: pointer;
  overflow: hidden;
}

.name {
  text-transform: uppercase;
  background: lightgray;
  opacity: 0.8;
  color: black;
}

.type {
  font-size: 23px;
  font-weight: bolder;
}

.imgHolder {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 15s;
}

.imgHolder:hover {
  transform: scale(1.2);
}
