.wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    cursor: pointer;
    transition-duration: .5s;
}


.name {
    text-transform: uppercase;
    background: lightgray;
    opacity: .8;
    color: black;
}

.type {
    font-size: 23px;
    font-weight: bolder;
}


.wrapper:hover{
    transform: scale(1.1);
}